openapi: 3.1.0
info:
  title: Qubrid AI Compute Chat Completions Templates API
  description: The Qubrid AI Compute API provides programmatic access to GPU cloud infrastructure including NVIDIA H100, H200, and B200 accelerators. Developers can provision and manage GPU instances for AI and machine learning workloads through API calls. The service supports on-demand compute for training, fine-tuning, and batch inference jobs, with usage-based billing and enterprise features such as team collaboration and usage tracking. Instances can be accessed via SSH, Jupyter notebooks, or Visual Studio Code, and support quick-deploy templates for popular frameworks including PyTorch, TensorFlow, ComfyUI, n8n, and Langflow.
  version: 1.0.0
  contact:
    name: Qubrid AI Support
    url: https://www.qubrid.com/contact
  termsOfService: https://www.qubrid.com/terms-of-service
servers:
- url: https://platform.qubrid.com/api/v1
  description: Qubrid AI Compute Production Server
security:
- bearerAuth: []
tags:
- name: Templates
  description: List and deploy pre-configured AI and ML environment templates including PyTorch, TensorFlow, ComfyUI, n8n, and Langflow, all optimized to run on Qubrid GPU instances.
paths:
  /templates:
    get:
      operationId: listTemplates
      summary: List available templates
      description: Returns a list of pre-configured AI and ML environment templates available for deployment on GPU compute instances, including PyTorch, TensorFlow, ComfyUI, n8n, and Langflow templates.
      tags:
      - Templates
      responses:
        '200':
          description: Successfully retrieved the list of templates.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateList'
        '401':
          description: Authentication failed due to a missing or invalid bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  schemas:
    ErrorResponse:
      type: object
      properties:
        error:
          type: object
          properties:
            message:
              type: string
              description: A human-readable error message describing what went wrong.
            type:
              type: string
              description: The type of error that occurred.
            code:
              type: string
              description: A machine-readable error code.
    Template:
      type: object
      properties:
        id:
          type: string
          description: The unique identifier of the template.
        name:
          type: string
          description: The display name of the template, such as PyTorch 2.x or TensorFlow 2.x.
        description:
          type: string
          description: A description of the template and its pre-installed software.
        framework:
          type: string
          description: The primary AI or ML framework included in the template.
        gpu_compatible:
          type: array
          items:
            type: string
          description: A list of GPU types compatible with this template.
    TemplateList:
      type: object
      properties:
        data:
          type: array
          description: A list of template objects.
          items:
            $ref: '#/components/schemas/Template'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: QUBRID_API_KEY
      description: Qubrid AI API key passed as a bearer token in the Authorization header. Obtain your API key from the Qubrid AI platform dashboard at https://platform.qubrid.com.
externalDocs:
  description: Qubrid AI Documentation
  url: https://docs.platform.qubrid.com
