openapi: 3.1.0
info:
  title: Qubrid AI Compute Chat Completions Embeddings API
  description: The Qubrid AI Compute API provides programmatic access to GPU cloud infrastructure including NVIDIA H100, H200, and B200 accelerators. Developers can provision and manage GPU instances for AI and machine learning workloads through API calls. The service supports on-demand compute for training, fine-tuning, and batch inference jobs, with usage-based billing and enterprise features such as team collaboration and usage tracking. Instances can be accessed via SSH, Jupyter notebooks, or Visual Studio Code, and support quick-deploy templates for popular frameworks including PyTorch, TensorFlow, ComfyUI, n8n, and Langflow.
  version: 1.0.0
  contact:
    name: Qubrid AI Support
    url: https://www.qubrid.com/contact
  termsOfService: https://www.qubrid.com/terms-of-service
servers:
- url: https://platform.qubrid.com/api/v1
  description: Qubrid AI Compute Production Server
security:
- bearerAuth: []
tags:
- name: Embeddings
  description: Generate vector embeddings from text input using embedding models hosted on the Qubrid AI platform, suitable for semantic search, clustering, and retrieval-augmented generation workflows.
paths:
  /embeddings:
    post:
      operationId: createEmbedding
      summary: Create embeddings
      description: Generates vector embeddings for the provided input text using a specified embedding model on the Qubrid AI platform. Embeddings can be used for semantic search, clustering, recommendations, and retrieval-augmented generation workflows.
      tags:
      - Embeddings
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmbeddingRequest'
      responses:
        '200':
          description: Successfully generated embeddings for the input text.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmbeddingResponse'
        '400':
          description: The request was malformed or contained invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Authentication failed due to a missing or invalid bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: The specified embedding model was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  schemas:
    EmbeddingResponse:
      type: object
      properties:
        object:
          type: string
          enum:
          - list
          description: The object type, always list.
        data:
          type: array
          description: A list of embedding objects.
          items:
            $ref: '#/components/schemas/EmbeddingObject'
        model:
          type: string
          description: The model used to generate the embeddings.
        usage:
          type: object
          properties:
            prompt_tokens:
              type: integer
              description: The number of tokens in the input.
            total_tokens:
              type: integer
              description: The total number of tokens processed.
    EmbeddingRequest:
      type: object
      required:
      - model
      - input
      properties:
        model:
          type: string
          description: The identifier of the embedding model to use for generating vector representations of the input text.
        input:
          oneOf:
          - type: string
          - type: array
            items:
              type: string
          description: The input text to embed. Can be a single string or an array of strings for batch embedding.
        encoding_format:
          type: string
          enum:
          - float
          - base64
          description: The format to return the embeddings in. Defaults to float.
          default: float
    ErrorResponse:
      type: object
      properties:
        error:
          type: object
          properties:
            message:
              type: string
              description: A human-readable error message describing what went wrong.
            type:
              type: string
              description: The type of error that occurred.
            code:
              type: string
              description: A machine-readable error code.
    EmbeddingObject:
      type: object
      properties:
        object:
          type: string
          enum:
          - embedding
          description: The object type, always embedding.
        embedding:
          type: array
          items:
            type: number
          description: The embedding vector, which is a list of floating point numbers.
        index:
          type: integer
          description: The index of the embedding in the list of embeddings.
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: QUBRID_API_KEY
      description: Qubrid AI API key passed as a bearer token in the Authorization header. Obtain your API key from the Qubrid AI platform dashboard at https://platform.qubrid.com.
externalDocs:
  description: Qubrid AI Documentation
  url: https://docs.platform.qubrid.com
