openapi: 3.2.0
info:
  title: Qubrid AI Inference Models API
  description: The Qubrid AI Inference API provides a single, OpenAI-compatible endpoint for orchestrating 40+ open-source models running on NVIDIA GPU infrastructure.
  version: 1.0.0
  contact:
    name: Qubrid AI Support
    url: https://www.qubrid.com/contact
  termsOfService: https://www.qubrid.com/terms-of-service
servers:
- url: https://platform.qubrid.com/v1
  description: Qubrid AI Production Server
security:
- bearerAuth: []
tags:
- name: Models
  description: List and retrieve details about the open-source AI models available for inference on the Qubrid AI platform, including text generation, code generation, vision-language, and image generation models.
paths:
  /models:
    get:
      operationId: listModels
      summary: List available models
      description: Returns a list of all models currently available for inference on the Qubrid AI platform, including text generation, code generation, vision-language, and image generation models running on NVIDIA GPU infrastructure.
      tags:
      - Models
      responses:
        '200':
          description: Successfully retrieved the list of available models.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelList'
        '401':
          description: Authentication failed due to a missing or invalid bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /models/{model_id}:
    get:
      operationId: getModel
      summary: Retrieve a model
      description: Returns details about a specific model available on the Qubrid AI platform, including its identifier, ownership, and creation timestamp.
      tags:
      - Models
      parameters:
      - $ref: '#/components/parameters/ModelId'
      responses:
        '200':
          description: Successfully retrieved the model details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model'
        '401':
          description: Authentication failed due to a missing or invalid bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: The specified model was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  parameters:
    ModelId:
      name: model_id
      in: path
      required: true
      description: The unique identifier of the model to retrieve, such as deepseek-ai/DeepSeek-R1-Distill-Llama-70B or Qwen/Qwen3.5-27B.
      schema:
        type: string
      example: deepseek-ai/DeepSeek-R1-Distill-Llama-70B
  schemas:
    ErrorResponse:
      type: object
      properties:
        error:
          type: object
          properties:
            message:
              type: string
              description: A human-readable error message describing what went wrong.
            type:
              type: string
              description: The type of error that occurred.
            code:
              type: string
              description: A machine-readable error code.
    ModelList:
      type: object
      properties:
        object:
          type: string
          enum:
          - list
          description: The object type, always list.
        data:
          type: array
          description: A list of model objects available on the Qubrid AI platform.
          items:
            $ref: '#/components/schemas/Model'
    Model:
      type: object
      properties:
        id:
          type: string
          description: The unique identifier of the model, such as deepseek-ai/DeepSeek-R1-Distill-Llama-70B.
        object:
          type: string
          enum:
          - model
          description: The object type, always model.
        created:
          type: integer
          description: The Unix timestamp in seconds of when the model was created or registered on the platform.
        owned_by:
          type: string
          description: The organization that owns or published the model.
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: QUBRID_API_KEY
      description: Qubrid AI API key passed as a bearer token in the Authorization header. Obtain your API key from the Qubrid AI platform dashboard at https://platform.qubrid.com.
externalDocs:
  description: Qubrid AI Documentation
  url: https://docs.platform.qubrid.com
